GWA_tutorial
.RData
.Rhistory
mareesTutorialGWAS.Rproj
.Rproj.user
workflow/.snakemake
workflow/data

*bed
*bim
*fam

# Large files
# find . -size +20M | cat >> .gitignore
./workflow/results/1_qcGWAS/3_autoMAF/checkMAF.frq
./workflow/results/1_qcGWAS/1_missing/plink.lmiss
./workflow/results/1_qcGWAS/6_rel/plink.lmiss
./workflow/results/1_qcGWAS/4_HWE/plink.hwe
./GWA_tutorial/1_QC_GWAS.zip
./GWA_tutorial/.git/objects/pack/pack-8d82533acf8ac5c5b27e0c1fe79605eaa9c95fe0.pack
